.content
{
    /*TODO replace with SASS variable*/
    height: calc(100vh - 60px);
    overflow: auto;
}

.full-screen-height
{
    min-height: 100%;
    height: 100%;
    overflow: auto;
    position: relative;

}
.full-screen-button {
    position: absolute;
    right: 0;
    z-index: 2;
}

